<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
	<body>
	
	
	
	<div marginwidth="0" style="margin-left:10%;margin-right:10%" marginheight="0" style="width:100%;background-color:#f8f8f8">
	
		<center>
		<table cellpadding="0" cellspacing="0" border="0" width="80%" height="100%" style="margin:0;line-height:1.5em;background:#fff;border:1px solid #ccc;border-width:1px;border-color:gray">
						<tbody>
							<tr style>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								Hi ${wrapRequestService.user.name}
								</td>
							</tr>
							
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								Welcome to NearGuru!  
								</td>
							</tr>
							
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								Here's what to expect:
								</td>
							</tr>
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								<span style="color:#666;font:bold 18px/10px 'Helvetica Neue',Helvetica,Arial,sans-serif;padding-right:2px">1.</span>You can reach out to expreienced service providers who can complete your service request. 
								</td>
							</tr>
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								<span style="color:#666;font:bold 18px/10px 'Helvetica Neue',Helvetica,Arial,sans-serif;padding-right:2px">2.</span>Interested service providers  will send you an introduction that includes a custom quote, a<br/> personal message, and their profile, reviews, and contact information. 
								</td>
							</tr>
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								<span style="color:#666;font:bold 18px/10px 'Helvetica Neue',Helvetica,Arial,sans-serif;padding-right:2px"> 3.</span>Call and message these service providers if you need more information, and hire when you're ready. 
								</td>
							</tr>
							
							
							
							
							<tr>   
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
											<a href="http://nearguru.com/login">Learn more about how NearGuru works.</a>
								</td>
							</tr>
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								We're excited to introduce you to all the service providers  who can complete your service request with best quotes and quality work! 
								</td>
							</tr>
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								<label style="font-height:40px"> <b>The NearGuru Team</b><label>
								</td>
							</tr>
							
							
						</tbody>
					</table>
			<table marginwidth="0" marginheight="0" width="80%" height="100%"  style="border:none;background-color:#f8f8f8">
				<tr>
					<td>
					<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin:0;line-height:1.5em;background:#fff;border:1px solid #ccc;border-width:1px;border-color:gray">
						<tbody>
							<tr style>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								Here's a copy of the details we're sending to ${wrapRequestService.product.productName} professionals.
								</td>
							</tr>
							
								#if ($!{wrapRequestService.requestAnswer.question1})
							<tr>
								<td>
								<p style="padding-left:20px;color:#4092f1;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">${wrapRequestService.requestAnswer.question1}</p>
								
								</td>
							</tr> 
							#if ($!{wrapRequestService.requestAnswer.answer1})
							<tr>
								<td>
									<p style="padding-left:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-bottom:10px"><b>${wrapRequestService.requestAnswer.answer1}</b></p>
								</td>
							</tr>
							#end
							#end 
							#if ($!{wrapRequestService.requestAnswer.question2})
							<tr>
								<td>
								<p style="padding-left:20px;color:#4092f1;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">$!{wrapRequestService.requestAnswer.question2}</p>
								
								</td>
							</tr>
							<tr>
								<td>
									<p style="padding-left:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-bottom:10px"><b>$!{wrapRequestService.requestAnswer.answer2}</b></p>
								</td>
							</tr>
							 #end
							 	#if ($!{wrapRequestService.requestAnswer.question3})
							<tr>
								<td>
								<p style="padding-left:20px;color:#4092f1;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">$!{wrapRequestService.requestAnswer.question3}</p>
								
								</td>
							</tr>
							<tr>
								<td>
									<p style="padding-left:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-bottom:10px"><b>$!{wrapRequestService.requestAnswer.answer3}</b></p>
								</td>
							</tr>
							#end
							#if ($!{wrapRequestService.requestAnswer.question4})
							<tr>
								<td>
								<p style="padding-left:20px;color:#4092f1;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">$!{wrapRequestService.requestAnswer.question4}</p>
								
								</td>
							</tr>
							<tr>
								<td>
									<p style="padding-left:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-bottom:10px"><b>$!{wrapRequestService.requestAnswer.answer4}</b></p>
								</td>
							</tr>
							#end
							#if ($!{wrapRequestService.requestAnswer.question5})
							<tr>
								<td>
								<p style="padding-left:20px;color:#4092f1;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">$!{wrapRequestService.requestAnswer.question5}</p>
								
								</td>
							</tr>
							<tr>
								<td>
									<p style="padding-left:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-bottom:10px"><b>$!{wrapRequestService.requestAnswer.answer5}</b></p>
								</td>
							</tr>
							#end
							<tr>
								<td>
								<p style="padding-left:20px;color:#4092f1;font:13px 'Helvetica Neue',Helvetica,Arial,sans-serif">Project Location</p>
								</td>
							</tr> 
							
							<tr>
								<td>
									<p style="padding-left:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;padding-bottom:10px"><b>${wrapRequestService.requestService.formatted_address}</b></p>
								</td>
							</tr> 
							
							<tr>
								<td>
								<div  align="center" valign="middle" style="margin-right:40%;margin-left:20%;background-color:#1D4E64;font:18px/28px 'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;padding:15px 20px">
								<a  style="display:block;text-decoration:none;" href="http://nearguru.com/login"><span style="color:#ffffff">View on  NearGuru</span></a>
					</div><br/>
								</td>
							</tr>
							
							
							<tr>
								<td style="margin:0;padding:20px;color:#666666;font:14px/19px 'Helvetica Neue',Helvetica,Arial,sans-serif">
								<label style="font-height:40px"> <b>The NearGuru Team</b><label>
								</td>
							</tr>
							
							
						</tbody>
					</table>
					
					</td>
				<tr>
			</table>
		</center>
	
	
	</div>
		
	</body>	
   
</html>

















